<div *ngIf="loader" class="loader-overlay">
    <div class="app-loading">
        <div class="pulse">
            <i *ngIf="loader.type"  class="material-icons">
                {{loader.type}}
            </i>
            <div *ngIf="!loader.type" class="logo"></div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" class="spinner" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
        </svg>
    </div>
</div>